/* Footer gradient background */
footer {
  background: linear-gradient(to right, #0810ff, #00004d);


  color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Align horizontally */
  gap: 20px; /* Add spacing between icons */
}

.social-links li {
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-links li:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}

.social-links img {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .social-links {
    flex-direction: row; /* Keep icons in a row on smaller screens */
  }
}
.footer .container1 p {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background: linear-gradient(90deg, #C0C0C0, #ADD8E6, #8A2BE2, #C0C0C0);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowingEffect 6s linear infinite;
}

.footer .social-links img {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0 0 4px #ADD8E6);
  transition: transform 0.3s, filter 0.3s;
}

.footer .social-links img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px #8A2BE2);
}

@keyframes glowingEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
